In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
county_df = pd.read_excel('UNSPSC English v220601 project.xlsx','Sheet1', index_col=None, na_values=['NA'])

In [3]:
county_df.head()

,Version,Key,Segment,Segment Title,Segment Definition,Family,Family Title,Family Definition,Class,Class Title,Class Definition,Commodity,Commodity Title,Commodity Definition,Synonym,Acronym
0,UNSPSC v22_0601,100001,10000000,Live Plant and Animal Material and Accessories...,"This segment includes live, wild and domestica...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"活植物、活动物及其附件和用品, 活植物、活動物及其附件和用品, Levende og ani...",NaN
1,UNSPSC v22_0601,100002,10000000,Live Plant and Animal Material and Accessories...,"This segment includes live, wild and domestica...",10100000.0,Live animals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"活动物, 活動物, Levende dyr, Levende dieren, Animaux...",NaN
2,UNSPSC v22_0601,100003,10000000,Live Plant and Animal Material and Accessories...,"This segment includes live, wild and domestica...",10100000.0,Live animals,NaN,10101500.0,Livestock,NaN,NaN,NaN,NaN,"家畜类, 家畜類, Besætning, Vee, Bétail, Viehbestand,...",NaN
3,UNSPSC v22_0601,100004,10000000,Live Plant and Animal Material and Accessories...,"This segment includes live, wild and domestica...",10100000.0,Live animals,NaN,10101500.0,Livestock,NaN,10101501,Cats,NaN,"猫, 貓, Katte, Katten, Chats, Katzen, Macskák, G...",NaN
4,UNSPSC v22_0601,100005,10000000,Live Plant and Animal Material and Accessories...,"This segment includes live, wild and domestica...",10100000.0,Live animals,NaN,10101500.0,Livestock,NaN,10101502,Dogs,NaN,"狗, 狗, Hunde, Honden, Chiens, Hunden, Kutyák, C...",NaN

In [4]:
unspec = county_df.drop(['Family Definition','Family','Family Title','Segment Title','Segment Definition','Segment','Version','Key','Synonym','Acronym'],axis = 1)

,Class,Class Title,Class Definition,Commodity,Commodity Title,Commodity Definition
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,10101500.0,Livestock,NaN,NaN,NaN,NaN
3,10101500.0,Livestock,NaN,10101501,Cats,NaN
4,10101500.0,Livestock,NaN,10101502,Dogs,NaN
5,10101500.0,Livestock,NaN,10101504,Mink,NaN
6,10101500.0,Livestock,NaN,10101505,Rats,NaN
7,10101500.0,Livestock,NaN,10101506,Horses,NaN
8,10101500.0,Livestock,NaN,10101507,Sheep,NaN
9,10101500.0,Livestock,NaN,10101508,Goats,NaN
10,10101500.0,Livestock,NaN,10101509,Asses,NaN
11,10101500.0,Livestock,NaN,10101510,Mice,NaN
12,10101500.0,Livestock,NaN,10101511,Swine,NaN
13,10101500.0,Livestock,NaN,10101512,Rabbits,NaN
14,10101500.0,Livestock,NaN,10101513,Guinea pigs,NaN

In [6]:
cols = ['Class Title','Class Definition']
cols2 =['Commodity Title','Commodity Definition']

unspec["class"] = unspec[cols].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)

unspec["commodity"] = unspec[cols2].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)

unspec2 = unspec.drop(['Class','Class Title','Class Definition','Commodity Title','Commodity Definition'],axis=1)
unspec2=unspec2.rename(columns={"Commodity":"level_1"})

In [8]:
unspec2.head(15)

     level_1          class        commodity
0        NaN        nan nan          nan nan
1        NaN        nan nan          nan nan
2        NaN  Livestock nan          nan nan
3   10101501  Livestock nan         Cats nan
4   10101502  Livestock nan         Dogs nan
5   10101504  Livestock nan         Mink nan
6   10101505  Livestock nan         Rats nan
7   10101506  Livestock nan       Horses nan
8   10101507  Livestock nan        Sheep nan
9   10101508  Livestock nan        Goats nan
10  10101509  Livestock nan        Asses nan
11  10101510  Livestock nan         Mice nan
12  10101511  Livestock nan        Swine nan
13  10101512  Livestock nan      Rabbits nan
14  10101513  Livestock nan  Guinea pigs nan