In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
county_df = pd.read_excel('eCAPS_COMM_11072019.xlsx','COMM_CLS', index_col=None, na_values=['NA'])

In [3]:
county_df2 = pd.read_excel('eCAPS_COMM_11072019.xlsx','COMM_ITM', index_col=None, na_values=['NA'])

In [4]:
county_df.head()

,COMM_CD,COMM_CLS,COMM_ITM,COMM_GP,COMM_DET,COMM_DSCR_UP,ACT_INACT_FL,KEYWD,DSCR_EXT,DSCR_EXT_DV,NAICS_CD
0,35,35,NaN,NaN,NaN,"AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...",0,"AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...","AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...","AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...",NaN
1,37,37,NaN,NaN,NaN,"AMUSEMENT, DECORATIONS, ENTERTAINMENT, TOYS, ETC.",0,"AMUSEMENT, DECORATIONS, ENTERTAINMENT, TOYS, ETC.","AMUSEMENT, DECORATIONS, ENTERTAINMENT, TOYS, ETC.","AMUSEMENT, DECORATIONS, ENTERTAINMENT, TOYS, ETC.",NaN
2,40,40,NaN,NaN,NaN,"ANIMALS, BIRDS, MARINE LIFE, AND POULTRY, INCL...",0,"ANIMALS, BIRDS, MARINE LIFE, AND POULTRY, INCL...","ANIMALS, BIRDS, MARINE LIFE, AND POULTRY, INCL...","ANIMALS, BIRDS, MARINE LIFE, AND POULTRY, INCL...",NaN
3,45,45,NaN,NaN,NaN,"APPLIANCES AND EQUIPMENT, HOUSEHOLD TYPE",0,"APPLIANCES AND EQUIPMENT, HOUSEHOLD TYPE","APPLIANCES AND EQUIPMENT, HOUSEHOLD TYPE","APPLIANCES AND EQUIPMENT, HOUSEHOLD TYPE",NaN
4,50,50,NaN,NaN,NaN,ART EQUIPMENT AND SUPPLIES,0,ART EQUIPMENT AND SUPPLIES,ART EQUIPMENT AND SUPPLIES,ART EQUIPMENT AND SUPPLIES,NaN

In [5]:
county_df2.head()

,COMM_CD,COMM_CLS,COMM_ITM,COMM_GP,COMM_DET,COMM_DSCR_UP,ACT_INACT_FL,KEYWD,DSCR_EXT,DSCR_EXT_DV,NAICS_CD
0,3158,31,58,NaN,NaN,"HEATERS, ELECTRIC (PANEL OR WALL TYPE) AND PARTS",1,"HEATERS, ELECTRIC (PANEL OR WALL TYPE) AND PARTS","HEATERS, ELECTRIC (PANEL OR WALL TYPE) AND PARTS","HEATERS, ELECTRIC (PANEL OR WALL TYPE) AND PARTS",NaN
1,3159,31,59,NaN,NaN,"HEATERS, ELECTRIC (PORTABLE) AND PARTS",1,"HEATERS, ELECTRIC (PORTABLE) AND PARTS","HEATERS, ELECTRIC (PORTABLE) AND PARTS","HEATERS, ELECTRIC (PORTABLE) AND PARTS",NaN
2,3160,31,60,NaN,NaN,"HEATERS, GAS-FIRED (SPACE TYPE, VENTED AND UNV...",1,"HEATERS, GAS-FIRED (SPACE TYPE, VENTED AND UNV...","HEATERS, GAS-FIRED (SPACE TYPE, VENTED AND UNV...","HEATERS, GAS-FIRED (SPACE TYPE, VENTED AND UNV...",NaN
3,3163,31,63,NaN,NaN,"HEATERS, SPACE, STEAM",1,"HEATERS, SPACE, STEAM","HEATERS, SPACE, STEAM","HEATERS, SPACE, STEAM",NaN
4,3165,31,65,NaN,NaN,"HEATING ELEMENTS, ELECTRIC",1,"HEATING ELEMENTS, ELECTRIC","HEATING ELEMENTS, ELECTRIC","HEATING ELEMENTS, ELECTRIC",NaN

In [6]:
county_df.drop(['COMM_GP','COMM_DET','ACT_INACT_FL','NAICS_CD'],axis=1).head()

,COMM_CD,COMM_CLS,COMM_ITM,COMM_DSCR_UP,KEYWD,DSCR_EXT,DSCR_EXT_DV
0,35,35,NaN,"AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...","AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...","AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...","AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU..."
1,37,37,NaN,"AMUSEMENT, DECORATIONS, ENTERTAINMENT, TOYS, ETC.","AMUSEMENT, DECORATIONS, ENTERTAINMENT, TOYS, ETC.","AMUSEMENT, DECORATIONS, ENTERTAINMENT, TOYS, ETC.","AMUSEMENT, DECORATIONS, ENTERTAINMENT, TOYS, ETC."
2,40,40,NaN,"ANIMALS, BIRDS, MARINE LIFE, AND POULTRY, INCL...","ANIMALS, BIRDS, MARINE LIFE, AND POULTRY, INCL...","ANIMALS, BIRDS, MARINE LIFE, AND POULTRY, INCL...","ANIMALS, BIRDS, MARINE LIFE, AND POULTRY, INCL..."
3,45,45,NaN,"APPLIANCES AND EQUIPMENT, HOUSEHOLD TYPE","APPLIANCES AND EQUIPMENT, HOUSEHOLD TYPE","APPLIANCES AND EQUIPMENT, HOUSEHOLD TYPE","APPLIANCES AND EQUIPMENT, HOUSEHOLD TYPE"
4,50,50,NaN,ART EQUIPMENT AND SUPPLIES,ART EQUIPMENT AND SUPPLIES,ART EQUIPMENT AND SUPPLIES,ART EQUIPMENT AND SUPPLIES

In [7]:
county_df2.drop(['COMM_GP','COMM_DET','ACT_INACT_FL','NAICS_CD'],axis=1).head()

,COMM_CD,COMM_CLS,COMM_ITM,COMM_DSCR_UP,KEYWD,DSCR_EXT,DSCR_EXT_DV
0,3158,31,58,"HEATERS, ELECTRIC (PANEL OR WALL TYPE) AND PARTS","HEATERS, ELECTRIC (PANEL OR WALL TYPE) AND PARTS","HEATERS, ELECTRIC (PANEL OR WALL TYPE) AND PARTS","HEATERS, ELECTRIC (PANEL OR WALL TYPE) AND PARTS"
1,3159,31,59,"HEATERS, ELECTRIC (PORTABLE) AND PARTS","HEATERS, ELECTRIC (PORTABLE) AND PARTS","HEATERS, ELECTRIC (PORTABLE) AND PARTS","HEATERS, ELECTRIC (PORTABLE) AND PARTS"
2,3160,31,60,"HEATERS, GAS-FIRED (SPACE TYPE, VENTED AND UNV...","HEATERS, GAS-FIRED (SPACE TYPE, VENTED AND UNV...","HEATERS, GAS-FIRED (SPACE TYPE, VENTED AND UNV...","HEATERS, GAS-FIRED (SPACE TYPE, VENTED AND UNV..."
3,3163,31,63,"HEATERS, SPACE, STEAM","HEATERS, SPACE, STEAM","HEATERS, SPACE, STEAM","HEATERS, SPACE, STEAM"
4,3165,31,65,"HEATING ELEMENTS, ELECTRIC","HEATING ELEMENTS, ELECTRIC","HEATING ELEMENTS, ELECTRIC","HEATING ELEMENTS, ELECTRIC"

In [8]:

countyresult = pd.merge(county_df,county_df2,on='COMM_CLS')

In [9]:
countyresult.head()

,COMM_CD_x,COMM_CLS,COMM_ITM_x,COMM_GP_x,COMM_DET_x,COMM_DSCR_UP_x,ACT_INACT_FL_x,KEYWD_x,DSCR_EXT_x,DSCR_EXT_DV_x,...,COMM_CD_y,COMM_ITM_y,COMM_GP_y,COMM_DET_y,COMM_DSCR_UP_y,ACT_INACT_FL_y,KEYWD_y,DSCR_EXT_y,DSCR_EXT_DV_y,NAICS_CD_y
0,35,35,NaN,NaN,NaN,"AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...",0,"AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...","AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...","AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...",...,3510,10,NaN,NaN,RADIO-NAVIGATION-AIRCRAFT,1,RADIO-NAVIGATION-AIRCRAFT,RADIO-NAVIGATION-AIRCRAFT,RADIO-NAVIGATION-AIRCRAFT,NaN
1,35,35,NaN,NaN,NaN,"AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...",0,"AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...","AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...","AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...",...,3515,15,NaN,NaN,RADAR-AIRCRAFT,1,RADAR-AIRCRAFT,RADAR-AIRCRAFT,RADAR-AIRCRAFT,NaN
2,35,35,NaN,NaN,NaN,"AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...",0,"AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...","AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...","AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...",...,3520,20,NaN,NaN,AIRPLANES,1,AIRPLANES,AIRPLANES,AIRPLANES,NaN
3,35,35,NaN,NaN,NaN,"AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...",0,"AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...","AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...","AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...",...,3525,25,NaN,NaN,AUTOMATIC PILOT SYSTEMS,1,AUTOMATIC PILOT SYSTEMS,AUTOMATIC PILOT SYSTEMS,AUTOMATIC PILOT SYSTEMS,NaN
4,35,35,NaN,NaN,NaN,"AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...",0,"AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...","AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...","AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...",...,3526,26,NaN,NaN,BAGGAGE HANDLING EQUIPMENT AND PARTS,1,BAGGAGE HANDLING EQUIPMENT AND PARTS,BAGGAGE HANDLING EQUIPMENT AND PARTS,BAGGAGE HANDLING EQUIPMENT AND PARTS,NaN

In [10]:
print(list(countyresult.columns))

['COMM_CD_x', 'COMM_CLS', 'COMM_ITM_x', 'COMM_GP_x', 'COMM_DET_x', 'COMM_DSCR_UP_x', 'ACT_INACT_FL_x', 'KEYWD_x', 'DSCR_EXT_x', 'DSCR_EXT_DV_x', 'NAICS_CD_x', 'COMM_CD_y', 'COMM_ITM_y', 'COMM_GP_y', 'COMM_DET_y', 'COMM_DSCR_UP_y', 'ACT_INACT_FL_y', 'KEYWD_y', 'DSCR_EXT_y', 'DSCR_EXT_DV_y', 'NAICS_CD_y']

In [13]:
countyresult.rename(columns={"KEYWD_x":"class","KEYWD_y":"commodity","COMM_CD_y":"level_1"})
cr = countyresult.drop(['DSCR_EXT_y','DSCR_EXT_DV_x','DSCR_EXT_x','COMM_DSCR_UP_x','COMM_CD_x','COMM_ITM_x','COMM_GP_x','COMM_DET_x','ACT_INACT_FL_x','NAICS_CD_x','COMM_DET_y','COMM_GP_y','COMM_DET_y','ACT_INACT_FL_y','NAICS_CD_y','COMM_DSCR_UP_y','DSCR_EXT_DV_y'],axis=1)

In [15]:
cr2 = cr.rename(columns={"KEYWD_x":"class","KEYWD_y":"commodity","COMM_CD_y":"level_1"})

In [16]:
cr2

,COMM_CLS,class,level_1,COMM_ITM_y,commodity
0,35,"AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...",3510,10,RADIO-NAVIGATION-AIRCRAFT
1,35,"AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...",3515,15,RADAR-AIRCRAFT
2,35,"AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...",3520,20,AIRPLANES
3,35,"AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...",3525,25,AUTOMATIC PILOT SYSTEMS
4,35,"AIRCRAFT AND AIRPORT, EQUIPMENT, PARTS, AND SU...",3526,26,BAGGAGE HANDLING EQUIPMENT AND PARTS
...,...,...,...,...,...
6632,885,WATER AND WASTEWATER TREATING CHEMICALS,88560,60,FERROUS SULFATE AND FERROUS CHLORIDE FOR TREAT...
6633,885,WATER AND WASTEWATER TREATING CHEMICALS,88570,70,HARDNESS CONTROL CHEMICALS: FOR TREATING WATER...
6634,885,WATER AND WASTEWATER TREATING CHEMICALS,88578,78,"CHEMICALS - PH CONTROL: CAUSTIC SODA, LIME, MU..."
6635,885,WATER AND WASTEWATER TREATING CHEMICALS,88589,89,"STABILIZERS (CYANURIC ACID, ETC.) FOR WATER TR..."
6636,885,WATER AND WASTEWATER TREATING CHEMICALS,88595,95,"WATER TESTING KITS (FOR CHLORINE, HARDNESS, PH..."